@mixin make-container($gutter: $gutter) {
  width: 100%;
  max-width: 1440px + $gutter;
  margin-left: auto;
  margin-right: auto;
  padding-left: $gutter / 2;
  padding-right: $gutter / 2;
  box-sizing: border-box;

  @include mq-min(1280px) {
    max-width: calc(1170px + #{$gutter});
  }

  @include mq-min(1600px) {
    max-width: calc(1440px + #{$gutter});
  }
}
