@import "variables";
@import "functions";
@import "mixins";
@import "mixins-containers";

// Global
@import "global/fonts";
@import "global/base";
@import "global/layout";

// Vendors
@import "../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox";
@import "../../node_modules/slick-carousel/slick/slick.scss";

// Blocks
@import "blocks/button";
@import "blocks/iconizer-button";
@import "blocks/input";
@import "blocks/select";
@import "blocks/field";
@import "blocks/form";
@import "blocks/table";
@import "blocks/price-table";
@import "blocks/popup";
@import "blocks/slick-arrow";
@import "blocks/slick-dots";
@import "blocks/textual";
@import "blocks/common-title";
@import "blocks/common-text";
@import "blocks/common-section";
// @import "blocks/custom-ol";
// @import "blocks/custom-ul";
@import "blocks/social";
@import "blocks/person-card";
@import "blocks/topbar-phones";
@import "blocks/topbar";
@import "blocks/header-sidebar";
@import "blocks/header-search";
@import "blocks/header-actions";
@import "blocks/header-ask";
@import "blocks/out-cover-toggle";
@import "blocks/main-header";
@import "blocks/menu";
@import "blocks/main-nav";
@import "blocks/intro-slider";
@import "blocks/intro";
@import "blocks/first-screen-section";
@import "blocks/homepage-first-screen";
@import "blocks/about-first-screen";
@import "blocks/about-clinic-slider";
@import "blocks/about-clinic";
@import "blocks/free-diagnostic";
@import "blocks/experts-carousel";
@import "blocks/experts";
@import "blocks/advantages";
@import "blocks/preview-review";
@import "blocks/preview-reviews-carousel";
@import "blocks/preview-reviews";
@import "blocks/certificates";
@import "blocks/certificates-carousel";
@import "blocks/contact-work-time";
@import "blocks/contact-info";
@import "blocks/contact";
@import "blocks/environment-slide";
@import "blocks/environment-carousel";
@import "blocks/environment";
@import "blocks/examples-environment";
@import "blocks/main-services";


// @import "blocks/page";
@import "blocks/main-footer";
@import "blocks/out-cover";
