.about-clinic-slider {
  .slick-list {
    height: 100%;
  }

  .slick-track {
    height: 100%;

    &::before,
    &::after {
      content: none;
    }
  }

  .slick-arrow {
    right: 60px;
    bottom: 60px;
  }

  .slick-prev {
    margin-right: calc(60px + 50px);
  }

  .slick-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
  }
}

.about-clinic-slider__item {
  @include make-fit-object(16, 9);

  @include mq-max(767px) {
    @media (orientation: portrait) {
      &::before {
        padding-top: calc(100%);
      }
    }
  }


  @include mq-min(1024px) {
    height: 100%;
  }
}
