.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 220px;
  padding: 15px 20px;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  font-family: $primary-font;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: $accent-color;
  border: 1px solid transparent;
  box-sizing: border-box;
  border-radius: 100px;
  outline: none;
  user-select: none;
  transition: $duration;
  cursor: pointer;

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: $grey-63;
    box-shadow: 0 0px 20px rgba($grey-63, 0.25);
  }

  &:active {
    color: #ffffff;
    background-color: #222222;
  }

  &--fluid {
    width: 100%;
  }

  &--fill-white {
    color: $base-color;
    background-color: #ffffff;

    &:hover,
    &:focus {
      color: #ffffff;
      background-color: $grey-63;
    }

    &:active {
      color: #ffffff;
      background-color: #222222;
    }
  }

  &--outline-white {
    border-color: #ffffff;
    background-color: transparent;

    &:hover,
    &:focus {
      color: $accent-color;
      background-color: #ffffff;
    }
  }

  &--outline-accent {
    color: $accent-color;
    border-color: $accent-color;
    background-color: #ffffff;

    &:hover,
    &:focus {
      color: #ffffff;
      background-color: $accent-color;
    }
  }

  @include mq-min(1024px) {
    padding: vh(12) vh(20);
    font-size: vh(15);
    line-height: vh(21);
  }
}

.button__icon {
  width: 22px;
  height: 22px;
  flex-shrink: 0;
  fill: currentColor;

  &--left {
    margin-right: 6px;
  }

  &--right {
    margin-left: 6px;
  }
}
