.contact-info {
  line-height: 1.2;

  @include mq-range(667px, 767px) {
    display: flex;
  }
}

.contact-info__section {
  margin-bottom: 30px;

  @include mq-range(667px, 767px) {
    // @include calc-column-width(4, 20px);
    width: 50%;
    margin-right: 15px;
    flex-grow: 1;
  }
}

.contact-info__title {
  margin: 0;
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 16px;
  color: $muted-color;
}

.contact-info__value {
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  color: $base-color;

  @include mq-range(667px, 767px) {
    font-size: 15px;
  }

  @include mq-min(1024px) {
    font-size: vh(17);
  }
}

.contact-info__list {
  @include clear-list();
}

.contact-info__list-item {
  margin-bottom: 2px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contact-info__text {
  @include clear-mr-edges-elem();

  font-size: 16px;
}

.contact-info__actions {
  @include clear-list();

  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 40px;

  @include mq-min(568px) {
    flex-direction: row;
  }
}

.contact-info__actions-item {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  @include mq-min(568px) {
    flex-grow: 1;
    margin-right: 20px;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }
  }

  @include mq-min(768px) {
    flex-grow: 0;
  }
}

.contact-info__button {
  width: 100%;

  @include mq-min(1024px) {
    width: auto;
  }
}
