.doctor-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #ffffff;
}

.doctor-card__wraplink {
  display: block;
  flex-grow: 1;
  color: $base-color;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1),
              0 4px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: $duration * 2;

  &:hover,
  &:focus {
    transform: translateY(-5px);
    box-shadow: 0 2px 2px rgba(41, 47, 56, 0.1),
                0 4px 4px rgba(41, 47, 56, 0.1),
                0 8px 8px rgba(41, 47, 56, 0.1),
                0 16px 16px rgba(41, 47, 56, 0.1),
                0 32px 32px rgba(41, 47, 56, 0.1);
  }
}

.doctor-card__photo {
  @include make-fit-object(470, 615);

  margin: 0;

  img {
    object-position: top;
  }
}

.doctor-card__content {
  margin: 0;
  padding: 20px;
}

.doctor-card__name {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
}

.doctor-card__post {
  display: block;
  font-size: 16px;
}
