.environment {
  overflow: hidden;
  background: linear-gradient(to top, $accent-color #{$gutter * 3}, transparent 0);

  @include mq-min(1024px) {
    background: linear-gradient(to top, $accent-color #{vh(60)}, transparent 0);
  }
}

.environment__carousel {
  margin-top: $gutter * 2;
}
