.experts-carousel {
  @include clear-list();

  .slick-arrow {
    top: calc(50% - 51px);
    transform: translateY(-25%);
  }

  .slick-prev {
    left: 0;
  }

  .slick-next {
    right: 0;
  }

  .slick-dots {
    margin-top: 30px;
  }
}

.experts-carousel__item {

}
