.experts {

}

.experts__header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.experts__title {
  margin-right: $gutter;
}

.experts-header__additional-side {
  margin: 0;
}

.experts__intro {
  width: 100%;
  margin: 0;
  margin-top: 1em;
}

.experts__carousel {

}

.experts__actions {
  margin: 0;
  margin-top: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.experts__to-appointment-with-doctor {
  width: 100%;
  min-width: 280px;

  @include mq-min(568px) {
    width: auto;
  }
}
