.header-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  padding-top: vh(12 * 2);
  padding-bottom: vh(12 * 2);
  color: #ffffff;
  background-color: $accent-color;
  box-sizing: border-box;
}

// .header-sidebar__main-nav {
//   margin-bottom: 15px;
// }

.header-sidebar__ask {

}
