.header-search {}

.header-search__toggle {
  min-width: auto;
  white-space: nowrap;
  color: $base-color;
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;

  &:hover,
  &:focus {
    color: $accent-color;
    background-color: transparent;
    box-shadow: none;
  }

  @include mq-max(567px) {
    padding: 5px;
  }

  @include mq-min(1024px) {
    display: none;
  }
}

.header-search__toggle-icon {
  width: 22px;
  height: 22px;
}

.header-search__form {
  position: relative;

  @include mq-max(1023px) {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 15px;
    padding-left: $gutter / 2;
    padding-right: $gutter / 2;
    background-color: rgba(#ffffff, 0.9);
    opacity: 0;
    visibility: hidden;

    .header-search--is-open & {
      opacity: 1;
      visibility: visible;
    }
  }
}

.header-search__input {
  padding-right: 50px;
  background-color: transparent;

  @include mq-min(1024px) {
    padding-right: vh(50);
  }
}

.header-search__submit {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  width: 50px;
  // height: 100%;
  padding: 0;
  border: none;
  background-color: transparent;
  border-radius: 0 0 100px 100px;
  appearance: none;
  outline: none;
  cursor: pointer;

  @include mq-max(1023px) {
    top: $gutter / 2;
    right: $gutter / 2;
    bottom: $gutter / 2;
    width: 62px;
  }

  @include mq-min(1024px) {
    width: vh(50);
  }
}

.header-search__submit-icon {
  width: 24px;
  height: 24px;
  margin: auto;
  fill: $accent-color;
}
