.iconizer-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.15;
  text-align: center;
  text-decoration: none;
  // text-transform: uppercase;
  color: $accent-color;
  background-color: transparent;
  border: none;
  transition: $duration;
  cursor: pointer;
  outline: none;

  &:hover,
  &:focus {
    color: #ffffff;
  }

  &:active {
    opacity: 0.9;
  }
}

.iconizer-button__iconbox {
  margin-bottom: 10px;
  // padding: 20px;
  padding: 15px;
  border: 5px solid $accent-color;
  border-radius: 50%;
  transition: $duration;

  .iconizer-button:hover &,
  .iconizer-button:focus & {
    background-color: $accent-color;
    border-color: $accent-color;
  }
}

.iconizer-button__icon {
  display: block;
  fill: $accent-color;
  transition: $duration;

  .iconizer-button:hover &,
  .iconizer-button:focus & {
    fill: #ffffff;
  }

  @include mq-min(1024px) {
    // width: 32px;
    // height: 32px;
    width: 48px;
    height: 48px;
  }

  @include mq-min(1280px) {
    // width: vh(32);
    // height: vh(32);
    width: vh(48);
    height: vh(48);
  }
}

.iconizer-button__text {
  // color: $accent-color;

  @include mq-min(1024px) {
    // color: currentColor;
  }
}
