.input {
  width: 100%;
  max-height: 150px;
  padding: 15px 20px;
  font: inherit;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  resize: vertical;
  background-color: #ffffff;
  border: 1px solid $accent-color;
  border-radius: 100px;
  outline: none;
  box-shadow: none;
  box-sizing: border-box;
  transition: $duration * 2;
  appearance: textfield;

  &:hover,
  &:focus {
    background-color: #ffffff;
    border-color: darken($accent-color, 10%);
  }

  &::placeholder {
    color: $base-color;
    opacity: 0.8;
  }

  @include mq-min(1024px) {
    padding: vh(14) vh(20);
    font-size: vh(14);
    line-height: vh(21);
  }
}
