.intro-slider {

  .slick-dots {
    position: absolute;
    bottom: 20px;
    left: $gutter / 2;;
    right: $gutter / 2;;
  }
}

.intro-slider__item {
  position: relative;
  min-height: 100vh;
  padding-top: calc(#{$height-topbar-mobile} + #{$height-header-mobile} + 60px);
  background-position: center;
  background-size: cover;
  box-sizing: border-box;


  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(#000000, 0.6);
  }

  @include mq-min(1024px) {
    padding-top: calc(#{$height-topbar-desktop} + #{$height-header-desktop} + 60px);
    height: 100vh;
  }
}
