.main-header {
  position: absolute;
  top: $height-topbar-desktop;
  left: 0;
  right: 0;
  z-index: 1;
  padding-top: 15px;
  padding-bottom: 15px;
  max-width: 100vw;
  background-color: rgba(#ffffff, 0.9);
  box-shadow: 0px 0px 40px rgba(66, 66, 65, 0.3);

  @include mq-max(567px) {
    top: $height-topbar-mobile;
  }

  @include mq-min(1024px) {
    top: $height-topbar-desktop;
  }

  @include mq-min(1200px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.main-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header__sidebar {
  position: absolute;
  z-index: 1;
  top: 100%;
  // max-height: calc(100vh - (#{$height-topbar-desktop} + #{$height-header-desktop} + 30px));
  bottom: calc(-100vh - (-#{$height-topbar-desktop} - #{$height-header-desktop} - #{vh(55)}));
  width: vh($width-header-sidebar);
  border-radius: 0 0 50px 50px;

  @include mq-max(1023px) {
    display: none;
  }
}

.main-header__logo {
  flex-shrink: 0;
  margin-right: 5%;

  @include mq-max(1024px) {
    max-width: 140px;
  }

  @include mq-max(567px) {
    max-width: 110px;
  }
}

.main-header__search {
  margin-left: auto;
  margin-right: auto;

  @include mq-min(1024px) {
    flex-grow: 1;
    max-width: 45%;
  }
}

.main-header__actions {
  margin-left: 2%;
}

.main-header__cover-toggle {
  margin-left: 10px;

  @include mq-min(1024px) {
    display: none;
  }
}
