.main-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 16px;
  color: #ffffff;
  background-color: #424242;
}

.main-footer__caption {
  display: block;
  margin: 0;
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;

  @include mq-min(768px) {
    margin-bottom: 1em;
  }
}

.main-footer__list {
  @include clear-list();

  font-size: 12px;

  a {
    display: inline-block;
    padding-top: 4px;
    padding-bottom: 4px;
    text-decoration: none;
    color: #ffffff;
    opacity: 0.8;
    transition: $duration;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}

.main-footer__wrapper {
  width: 100%;

  @include mq-min(568px) {
    display: table;
  }
}

.main-footer__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;

  &:last-child {
    padding-bottom: 0;
  }

  @include mq-max(567px) {
    text-align: center;
  }

  @include mq-min(568px) {
    display: table-row;

    &--bottom {
      align-items: flex-start;
    }
  }
}

.main-footer__column {
  padding-bottom: 30px;

  &:last-child {
    padding-bottom: 0;
  }

  @include mq-min(568px) {
    display: table-cell;
    padding-right: 25px;
    padding-bottom: 0;

    &:last-child {
      padding-right: 0;
    }

    &--top {
      padding-bottom: 30px;
      vertical-align: middle;

      &:last-child {
        padding-bottom: 30px;
      }
    }
  }
}

.main-footer__phones-list {
  font-weight: 600;
  font-size: 16px;
}

.main-footer__social-link {
  opacity: 0.5;
  transition: $duration;

  &:hover,
  &:focus {
    opacity: 1;
  }
}
