.menu {
  @include clear-list();

  display: flex;

  .menu-item {

  }

  a {
    display: block;
    text-align: center;
    padding: 12px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    text-decoration: none;
    color: $base-color;
    transition: $duration / 2;

    &:hover,
    &:focus {
      background-color: rgba(#000000, 0.05);
    }
  }

  .current-menu-item a {
    font-weight: 700;
  }

  @include mq-min(1024px) {

    a {
      font-size: vh(16);
      padding-left: 15px;
      padding-right: 15px;
      // padding-top: vh(12);
      // padding-bottom: vh(12);
    }
  }
}
