.person-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.person-card__wraplink {
  display: inherit;
  flex-direction: inherit;
  align-items: inherit;
  flex-grow: 1;
  width: 100%;
  text-decoration: none;
  color: $base-color;
  transition: $duration;
  box-sizing: border-box;
}

.person-card__photo {
  @include make-fit-object();

  width: 100%;
  max-width: 160px;
  max-height: 160px;
  flex-shrink: 0;
  flex-grow: 1;
  margin-bottom: 25px;
  border-radius: 50%;
  filter: grayscale(0.9);
  transition: $duration * 2;

  .person-card__wraplink:hover &,
  .person-card__wraplink:focus & {
    filter: grayscale(0);
  }
}

.person-card__content {
  margin: 0;
  font-size: 16px;
  text-align: center;

  @include mq-min(1024px) {
    font-size: vh(16);
  }
}

.person-card__name {
  display: block;
  font-weight: 600;
}

.person-card__post {
  display: block;
  font-weight: 400;
  font-size: 14px;

  @include mq-min(1024px) {
    font-size: vh(14);
  }
}
