.popup {
  width: calc(100% - #{($gutter / 2)});
  max-width: 540px;
  padding: 40px;
  font-family: "Lato", "Helvetica Neue", "Helvetica", "encode_sans_expanded", "Arial", sans-serif;
  border-radius: 4px;
}

.popup__title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 48px;
  line-height: 1.15;
  text-align: center;
}
