.preview-review {
  padding: 30px;
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 2px 16px rgba(#000000, 0.1);
  border-radius: 10px;

  @include mq-min(1200px) {
    padding-left: 60px;
    padding-right: 60px;
  }
}

.preview-review__content {
  margin: 0;
  padding: 0;
}

.preview-review__publication-date {
  font-size: 14px;
  color: $muted-color;
}

.preview-review__author {
  display: flex;
  align-items: center;
}

.preview-review__author-photo {
  width: 64px;
  height: 64px;
  margin-right: 15px;
  border-radius: 50%;
  object-fit: cover;
}

.preview-review__author-text {
  margin: 0;
}

.preview-review__author-name {
  display: block;
  font-style: normal;
  font-weight: 700;
}

.preview-review__text {
  font-size: 16px;

  @include mq-min(1024px) {
    font-size: vh(16);
  }
}

.preview-review__to-full-review {
  width: 100%;
  margin-top: 15px;
  color: $base-color;
  background-color: transparent;

  @include mq-min(568px) {
    width: auto;
    min-width: 0;
    margin-top: 0;
    margin-left: 8px;
    padding: 0 8px;
    font-size: 12px;
    vertical-align: middle;
  }
}
