.preview-reviews {
  background-color: rgba(73, 183, 168, 0.1);
}

.preview-reviews__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.preview-reviews__title {
  margin-right: $gutter;
}

.preview-reviews-header__additional-side {
  margin: 0;
}
