.preview-reviews-carousel {
  @include clear-list();

  .slick-arrow {
    top: 50%;
    transform: translateY(-50%);
  }

  .slick-prev {
    left: -15px;
  }

  .slick-next {
    right: -15px;
  }

  .slick-dots {
    margin-top: 30px;
  }

  @include mq-min(768px) {
    margin-left: 15px;
    margin-right: 15px;
  }

  @include mq-min(1500px) {
    margin-left: -10px;
    margin-right: -10px;
  }
}

.preview-reviews-carousel__item {
  margin-left: 10px;
  margin-right: 10px;
}
