.price-table {
  font-size: 20px;

  p {
    max-width: 740px;
  }

  small {
    display: block;
    opacity: 0.8;
  }

  b {
    font-weight: 600;
  }

  td {
    padding: 25px;
    padding-right: 50px;

    &:last-child {
      // padding-right: 0;
    }

    &:nth-child(2) {
      font-weight: 600;
      font-size: 24px;
      text-align: right;
      white-space: nowrap;
    }
  }

  tr:nth-child(odd) td {
    background-color: #f7f7f7;
  }

  &--little {
    font-size: 18px;

    td {
      padding: 10px;
      padding-right: 40px;

      &:nth-child(2) {
        font-size: 21px;
      }
    }
  }

  @include mq-min(1280px) {
    p {
      max-width: vh(740);
    }

    td {
      font-size: vh(19);

      &:nth-child(2) {
        font-size: vh(26);
      }
    }

    &--little {
      font-size: vh(17);

      td {
        &:nth-child(2) {
          font-size: vh(20);
        }
      }
    }
  }
}
