.price-table {
  font-weight: 500;
  font-size: 20px;

  li {
    font-size: 17px;
  }

  small {
    color: $muted-color;
  }

  b {
    font-weight: 600;
  }

  td {
    padding: 15px;
    padding-right: 40px;
    vertical-align: baseline;
  }

  tr:nth-child(odd) td {
    background-color: #f7f7f7;
  }

  @include mq-min(1280px) {
    font-size: vh(16);
  }
}

.price-table__head-cell {
  position: sticky;
  top: $height-header-desktop;
  padding: 15px;
  padding-right: 40px;
  font-size: 15px;
  text-align: left;
  vertical-align: baseline;
  white-space: nowrap;
  color: $muted-color;
  background-color: #fff;

  &--price {
    text-align: right;
  }
}

.price-table__price-cell {
  font-weight: 600;
  text-align: right;
}
