.slick-dots {
  @include clear-list();

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  li {
    margin-left: 4px;
    margin-right: 4px;
  }

  button {
    display: block;
    width: 8px;
    height: 8px;
    padding: 0;
    background-color: $accent-color;
    background-clip: content-box;
    border: 2px solid transparent;
    box-sizing: content-box;
    font-size: 0;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
  }

  .slick-active button {
    border-color: $accent-color;
  }
}
