.social {
  @include clear-list();

  display: flex;
  align-items: center;
}

.social__item {
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: block;
  color: currentColor;
  transition: $duration / 2;
}

.social__icon {
  display: block;
  width: 26px;
  height: 26px;
  fill: currentColor;
}
