.supervisors {

}

.supervisors__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 40px;

  @include mq-min(768px) {
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    grid-gap: 60px;
  }
}

.supervisors__item {
  // margin-bottom: 60px;
}
