.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  max-width: 100vw;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff;
  background-color: #3F3F3F;
}

.topbar__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @include mq-min(568px) {
    flex-direction: row;
    align-items: center;
  }
}

.topbar__social {
  margin-bottom: 20px;

  @include mq-min(568px) {
    margin-bottom: 0;
  }
}

.topbar__social-link {
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.topbar__social-icon {
  width: 20px;
  height: 20px;
}

.topbar__phones {
  @include mq-min(568px) {
    margin-left: auto;
  }
}

.topbar__to-callback {
  padding: 0;
  color: #ffffff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;

  @include dotted-link(1.5px);

  &:hover,
  &:focus {
    color: $accent-color;
  }


  @include mq-min(568px) {
    margin-left: $gutter;
  }
}
